matplotlib.pyplot
datetime
sklearn.datasets
seaborn
rich
sklearn.tree
sklearn
random
os
rich.console
zipfile
time
sklearn.cluster
sklearn.metrics
sklearn.neighbors
sklearn.ensemble
re
sklearn.model_selection
collections
glob
unicodedata
sklearn.preprocessing
colorama
numpy
pandas
rich.live
pyChatGPT
matplotlib.patches
rich.style
rich.text
